{
	"semi": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"printWidth": 80,
	"overrides": [
		{
			"files": "*.css",
			"options": {
				"printWidth": 80
			}
		}
	],
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/app/styles/globals.css"

}
