<div class="resume">
    <section class="resume__section">
        <h3 class="h3">Experience</h3>
        <dl class="resume__list">
        {% for item in site.data.resume %}
            <dt>{{ item.org }}</dt>
                <dd>{{ item.content }}</dd>
                <dd>{{ item.time }}</dd>
        {% endfor %}
        </dl>
    </section>
    <section class="resume__section">
        <h3 class="h3">Education</h3>
        <dl class="resume__list">
        {% for item in site.data.education %}
            <dt>{{ item.org }}</dt>
                <dd>{{ item.content }}</dd>
                <dd>{{ item.time }}</dd>
        {% endfor %}
        </dl>
    </section>
</div>

<!-- <table>
    <tbody>
        <th scope=row>Header</th>
        <td>
            <p>Everfi<br>Description</p>

            </td>
        <td><tr><td>lorem</td><td>lorem</td></tr>Lorem</td>
        <td>Lorem</td>
    </tbody>
</table> -->