
<div class="container">
<h1>Lorem</h1>
<h2>Lorem</h2>
<h3>Lorem</h3>
<h4>Lorem</h4>
<h5>Lorem</h5>
<h6>Lorem</h6>

<p class="lead">Body Text</p>
<p class="p1">Body Text</p>
<p class="p2">Body Text</p>
<p class="p3">Body Text</p>


<p class="mb-xl">Body Text</p>
<p class="mb-lg">Body Text</p>
<p class="mb-sm">Body Text</p>
<p>Body Text</p>

<button>Button without class</button>
<a>Link without class</a>
<button class="btn">Button .btn</button>
<a class="btn">link .btn</a>
<button class="link">Button .link</button>

<ul>
    <li>List item</li>
    <li>List item
        <ul>
            <li>Nested list</li>
            <li>Nested list</li>
        </ul>
    </li>
    <li>List item</li>
</ul>


</div>