@import "tailwindcss";
@import "shadcn/tailwind.css";
@import "tw-animate-css";
@import "dither-plugin";
@import "./colors.css";
@import "./mdx.css" layer(components);
@import "./syntax.css" layer(components);
@import "./animations.css" layer(utilities);
@import "./view-transitions.css";
@import "./hues.css";

@custom-variant dark (&:is(.dark *));
/* Enable hovering for demos */
@custom-variant hover (&:hover);
/* Used by sticky table-of-contents elements that rely on scroll-state containers. */
@custom-variant @stuck-top {
  @supports (container-type: scroll-state) {
    @container scroll-state(stuck: top) {
      @slot;
    }
  }
}

/* Font variation settings example for reference:
  --default-font-feature-settings: "ss01", "ss03", "cv01", "cv11"; 
  --default-font-variation-settings: "wght" 425, "GRAD" 450, "YAXS" 900;
  */
@theme inline {
  --font-sans: system-ui, ui-sans-serif, sans-serif;
  --font-heading: var(--font-display), var(--font-sans);
  --font-heading--font-variation-settings: "SERF" 30, "wght" 680, "slnt" -5;
  --font-heading--font-feature-settings: "ss01", "ss02", "calt", "dlig";
  --font-serif: var(--font-heading), Georgia, ui-serif, serif;
  --font-pixel: var(--font-departure-mono), "DepartureMono", ui-monospace, monospace;

  --color-neutral-25: var(--neutral-25);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-75: var(--neutral-75);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);
  --color-neutral-975: var(--neutral-975);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-error-foreground: var(--error-foreground);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-info-primary: var(--info-primary);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-primary: var(--success-primary);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-primary: var(--warning-primary);
  --color-warning-foreground: var(--warning-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-xs: min(calc(var(--radius) * calc(var(--ellipse-factor) * 0.75) * 0.3), 0.5rem);
  --radius-sm: min(calc(var(--radius) * var(--ellipse-factor) * 0.5), 0.75rem);
  --radius-md: min(calc(var(--radius) * var(--ellipse-factor) * 0.7), 1.25rem);
  --radius-lg: min(calc(var(--radius) * var(--ellipse-factor) * 0.9), 1.5rem);
  --radius-xl: min(calc(var(--radius) * var(--ellipse-factor) * 1.3), 1.75rem);
  --radius-2xl: min(calc(var(--radius) * var(--ellipse-factor) * 1.7), 2rem);
  --radius-3xl: min(calc(var(--radius) * var(--ellipse-factor) * 2.1), 2.25rem);
  --radius-4xl: min(calc(var(--radius) * var(--ellipse-factor) * 2.9), 2.5rem);

  /* Custom */
  --spacing-button-xs: var(--button-xs);
  --spacing-button: var(--button-md);
  --spacing-button-sm: var(--button-sm);
  --spacing-button-lg: var(--button-lg);
  --spacing-thumb: --spacing(5);

  --shadow-border-xs: var(--border-shadow), var(--shadow-xs);
  --shadow-border-sm: var(--border-shadow), var(--shadow-sm);
  --shadow-border-md: var(--border-shadow), var(--shadow-md);
  --shadow-border-lg: var(--border-shadow), var(--shadow-lg);
  --shadow-border-xl: var(--border-shadow), var(--shadow-xl);
  --shadow-border-2xl: var(--border-shadow), var(--shadow-2xl);

  --inset-shadow-border: var(--inner-border-shadow);
  --inset-shadow-button: var(--shadow-button-inset);
  --inset-shadow-button-pressed: var(--shadow-button-inset-pressed);
  --shadow-popover: var(--popover-shadow);

  --text-2xs: --spacing(2.75);
  --text-2xs--line-height: calc(15 / 11);

  --text-xs: --spacing(3.25);
  --text-md: --spacing(3.75);
  --text-md--line-height: calc(22 / 15);
  --text-md--letter-spacing: -0.005em;

  --spacing: calc(var(--density, 1) * 0.25rem);
}

/* Not themeable, so not regenerated under data-theme */
:root {
  --button-xs: --spacing(6);
  --button-sm: --spacing(8);
  --button-md: --spacing(9);
  --button-lg: --spacing(10);
  --article-gap-x: --spacing(8);
  --article-prose-width: var(--container-xl);
  --article-sidebar-width: calc(var(--container-3xs) - var(--article-gap-x));
}

:root,
[data-theme] {
  --density: 1;
  --radius: 0.625rem; /* 10px bc math */
  --ellipse-factor: 1;
  --radius-xs: min(calc(var(--radius) * 0.3), 0.5rem);
  --radius-sm: min(calc(var(--radius) * 0.5), 0.75rem);
  --radius-md: min(calc(var(--radius) * 0.7), 1.25rem);
  --radius-lg: min(calc(var(--radius) * 0.9), 1.5rem);
  --radius-xl: min(calc(var(--radius) * 1.3), 1.75rem);
  --radius-2xl: min(calc(var(--radius) * 1.7), 2rem);
  --radius-3xl: min(calc(var(--radius) * 2.1), 2.25rem);
  --radius-4xl: min(calc(var(--radius) * 2.9), 2.5rem);

  --background: var(--neutral-50);
  --foreground: var(--neutral-700);
  --card: --alpha(var(--color-white) / 98%);
  --card-foreground: var(--neutral-800);
  --popover: var(--neutral-25);
  --popover-foreground: var(--foreground);
  --primary: var(--hue-500);
  --primary-foreground: var(--hue-25);
  --secondary: var(--hue-100);
  --secondary-foreground: var(--hue-700);
  --muted: --alpha(var(--neutral-600) / 6%);
  /* --muted: var(--neutral-75); */
  --muted-foreground: var(--neutral-500);
  --accent: --alpha(var(--neutral-300) / 20%);
  --accent-foreground: var(--neutral-950);
  --destructive: var(--error-500);
  --destructive-foreground: var(--color-white);
  --error: var(--error-25);
  --error-foreground: var(--error-600);
  --info: var(--info-25);
  --info-primary: var(--info-500);
  --info-foreground: var(--info-600);
  --success: var(--success-25);
  --success-primary: var(--success-500);
  --success-foreground: var(--success-700);
  --warning: var(--warning-25);
  --warning-primary: var(--warning-500);
  --warning-foreground: var(--warning-600);
  --border: --alpha(var(--neutral-600) / 20%);
  --input: --alpha(var(--neutral-600) / 40%);
  --ring: var(--info-400);
  --sidebar: var(--neutral-100);
  --sidebar-foreground: color-mix(in srgb, var(--neutral-800) 64%, var(--sidebar));
  --sidebar-primary: var(--neutral-800);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: --alpha(var(--color-black) / 4%);
  --sidebar-accent-foreground: var(--neutral-800);
  --sidebar-border: --alpha(var(--color-black) / 6%);
  --sidebar-ring: var(--ring);
  --border-shadow:
    inset 0 0.5px 0.5px --alpha(var(--color-white) / 8%), 0 1px --alpha(var(--color-black) / 4%),
    0 0 0 1px --alpha(var(--color-border) / 50%);
  --inner-border-shadow:
    inset 0 1px 0 var(--color-border), inset 0 1px 2px -1px --alpha(var(--color-foreground) / 12%),
    inset 0 1px 4px -2px --alpha(var(--color-foreground) / 12%), inset 0 0 0 0.5px --alpha(var(--color-border) / 50%);
  --popover-shadow:
    0 0 0 1px var(--border), inset 0 1px hsl(0 0 100% / 50%), inset 0 1px 2px 1px hsl(0 0 100% / 20%),
    0 10px 28px hsl(0 0 0% / 12%), 0 24px 68px hsl(0 0 0% / 0.08), var(--shadow-lg);
  --shadow-button-inset:
    inset 0 1.5px 0 0 --alpha(currentColor / 20%), inset 0 0 0 1.5px --alpha(currentColor / 10%),
    inset 0 -2px 0 -1px hsl(0 0 0% / 8%), inset 0 0 0 1px var(--button-bg, hsl(0 0 0% / 30%));
  --shadow-button-inset-pressed: inset 0 2px 0 0px hsl(0 0 0% / 10%), inset 0 0 0 1px hsl(0 0 0% / 10%);
}

/* When hue is neutral, darken primary  */
[data-hue="black"],
[data-hue="gray"],
[data-hue="ash"],
[data-hue="zinc"],
[data-hue="plum"],
[data-hue="sand"],
[data-hue="sage"],
[data-hue="steel"] {
  --primary: var(--hue-700);
  --primary-foreground: var(--color-white);
}

.dark,
.dark [data-theme] {
  --background: var(--neutral-975);
  --foreground: var(--neutral-100);
  --card: var(--neutral-950);
  --card-foreground: var(--neutral-300);
  --popover: var(--neutral-900);
  --popover-foreground: var(--neutral-50);
  --primary: var(--hue-500);
  --primary-foreground: var(--hue-50);
  --secondary: var(--hue-800);
  --secondary-foreground: var(--hue-200);
  --muted: --alpha(var(--color-neutral-600) / 25%);
  --muted-foreground: var(--neutral-400);
  --accent: --alpha(var(--neutral-500) / 10%);
  --accent-foreground: var(--neutral-100);
  --destructive: var(--error-600);
  --destructive-foreground: var(--error-25);
  --error: var(--error-900);
  --error-foreground: var(--error-300);
  --info: var(--info-900);
  --info-primary: var(--info-500);
  --info-foreground: var(--info-300);
  --success: var(--success-900);
  --success-foreground: var(--success-300);
  --success-primary: var(--success-500);
  --warning: var(--warning-900);
  --warning-foreground: var(--warning-300);
  --warning-primary: var(--warning-500);
  --border: --alpha(var(--color-white) / 14%);
  --input: --alpha(var(--color-white) / 32%);
  --ring: var(--info-300);
  --sidebar: var(--neutral-975);
  --sidebar-foreground: color-mix(in srgb, var(--neutral-100) 64%, var(--sidebar));
  --sidebar-primary: var(--neutral-100);
  --sidebar-primary-foreground: var(--neutral-800);
  --sidebar-accent: --alpha(var(--color-white) / 4%);
  --sidebar-accent-foreground: var(--neutral-100);
  --sidebar-border: --alpha(var(--color-white) / 5%);
  --sidebar-ring: var(--ring);
  --border-shadow:
    inset 0 0 0 1px --alpha(var(--border) / 5%), inset 0 1px --alpha(var(--border) / 8%),
    inset 0 0.5px 1px --alpha(var(--border) / 40%), 0 0 0 0.5px hsl(0 0 0% / 50%);
  --popover-shadow:
    0 0 1px 1px hsl(0 0 0% / 90%), inset 0 1px 0 0 var(--border), inset 0 0 0 1px --alpha(var(--border) / 50%),
    0 4px 40px 20px hsl(0 0 0% / 55%);
  --shadow-button-inset:
    inset 0 1px 0 --alpha(white / 5%), 0 2px 0 -1px hsl(0 0 0% / 8%), inset 0 0 0 1px --alpha(white / 2%);
  --shadow-button-inset-pressed:
    inset 0 2px 3px -1px hsl(0 0 0% / 50%), inset 0 0.5px 1px -1px hsl(0 0 100% / 20%), inset 0 -1px hsl(0 0 100% / 5%),
    0 0 1px 0.5px hsl(0 0 0% / 40%), 0 0.5px 0 0.5px hsl(0 0 100% / 5%);
  --inner-border-shadow:
    inset 0 0 1px 0.5px --alpha(var(--color-border) / 100%), inset 0 -1px 0 0 --alpha(var(--color-border) / 50%),
    inset 0 2px 4px 1px hsl(0 0 0% / 32%);
}

/* ..and then lighten them in dark mode. 
  TODO: move to Button.tsx? */
.dark {
  [data-hue="black"],
  [data-hue="gray"],
  [data-hue="ash"],
  [data-hue="zinc"],
  [data-hue="plum"],
  [data-hue="sand"],
  [data-hue="sage"],
  [data-hue="steel"] {
    --primary: var(--hue-100);
    --primary-foreground: var(--hue-900);
  }
}

@layer base {
  * {
    @apply border-border outline-ring selection:bg-primary selection:text-primary-foreground;
    interpolate-size: allow-keywords;
  }

  /* Safari workarounds */
  html {
    background-color: var(--background);
    color-scheme: light;
    overflow-x: clip;
  }
  html.dark {
    color-scheme: dark;
  }
  .root {
    @apply relative isolate;
    scroll-behavior: smooth;
  }

  /* Actual start of base styles */
  body {
    @apply relative bg-background text-foreground dark:bg-background;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-spacing-trim: space-first;
    text-rendering: geometricPrecision;
  }
  .bg-card {
    @apply backdrop-blur-xs;
  }
  .rounded-full {
    /* eslint-disable-next-line css/no-unknown-properties */
    /* prettier-ignore */
    corner-shape: initial;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --font-heading--font-variation-settings: "wght" 560, "slnt" -10, "SERF" 25;
  }

  h1 {
    @apply text-h1 font-heading leading-none tracking-[-0.005em] text-balance;
  }
  em {
    /*  Settings for Georgia if reverting: @apply relative -top-[1%] font-serif text-[98%]  */
    @apply font-heading tracking-normal text-foreground not-italic;
    font-variation-settings:
      "wght" 560,
      "slnt" -10,
      "SERF" 25;
    font-feature-settings:
      "ss01" 0,
      "ss02",
      "ss03",
      "calt",
      "liga",
      "ccmp",
      "kern";
  }
  mark,
  .mark {
    --mark-origin: -10% 0%;
    --mark-radius: 60% 93% 1ch 55% / 37% 2ch 5ex 160%;
    --mark-dark: var(--color-blue-600);
    --mark-light: var(--color-blue-200);
    @apply bg-blend-multiply [--mark-bg:var(--mark-light)] [--mark-fg:var(--mark-dark)];
    @variant dark {
      @apply bg-blend-screen [--mark-bg:var(--mark-dark)] [--mark-fg:var(--mark-light)];
    }

    @apply -mx-0.5 -mt-0.5 -mb-1 rounded-(--mark-radius) bg-transparent bg-radial-[at_var(--mark-origin)] from-(--mark-bg) from-4% via-(--mark-bg)/15 via-32% to-(--mark-bg)/65 to-92% box-decoration-clone bg-size-[100%_80%] ps-1 pe-1 pt-0.5 pb-1 font-[450] text-(--mark-fg) shadow-[inset_3px_-1px_3px_-2px_--alpha(var(--mark-bg)/90%)] [corner-shape:bevel_squircle] text-shadow-background/50 text-shadow-xs;
  }
  strong {
    @apply font-[525] tracking-[-0.02em] text-foreground;
  }
}

mark[data-hue],
.mark[data-hue] {
  --mark-dark: var(--hue-600);
  --mark-light: var(--hue-200);
}

@utility border-hairline {
  border-width: 1px;

  @media (min-resolution: 2x) {
    border-width: 0.5px;
  }
}

@utility text-h1 {
  :where(&) {
    @apply font-heading text-3xl/[.9em] tracking-[-0.0125em] text-balance;
    font-variation-settings:
      "SERF" 25,
      "slnt" -5,
      "wght" 720;
  }
}

@utility hover-weight {
  :where(&) {
    interpolate-size: allow-keywords;
    font-variation-settings: "wght" 450;
    font-variation-settings:
      "wght" 480,
      "SERF" 0,
      "slnt" 0;
    transition: font-variation-settings 200ms ease;
    &:hover {
      font-variation-settings:
        "SERF" 50,
        "wght" 720,
        "slnt" -10;
    }
  }
}

@utility before-hitbox {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@utility after-hitbox {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@utility link {
  :where(&) {
    @apply before-hitbox relative isolate inline rounded-[.25em] wrap-break-word break-all text-foreground underline decoration-current/40 decoration-[round(.075em,.5px)] underline-offset-[.25em] transition-colors duration-150 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ring;
    svg {
      @apply inline max-h-[1em] max-w-[1em];
    }
    & span {
      @apply inline-block decoration-transparent;
    }

    @variant hover {
      @apply bg-accent decoration-current/90;
    }
  }
}

@utility max-h-dialog {
  :where(&) {
    @apply max-h-[calc(100dvh-env(safe-area-inset-bottom,0)-env(safe-area-inset-top,0)-2rem)];
  }
}

@utility max-w-dialog {
  :where(&) {
    @apply max-w-[calc(100%-1rem)] md:max-w-[calc(100%-2rem)];
  }
}

@utility bg-dotted {
  background-image: repeating-linear-gradient(
    90deg,
    var(--separator-color, var(--border)) 0,
    var(--separator-color, var(--border)) 1px,
    transparent 1px,
    transparent 4px
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

@utility ui-input {
  @apply w-full min-w-0 rounded-md border border-input bg-card/50 bg-clip-padding px-2.5 py-1 text-base text-foreground transition-[color,background-color,border-color,box-shadow] outline-none sm:text-sm;
  @variant read-only {
    @apply select-all focus-visible:border-input [data-dirty]:text-muted-foreground;
  }
  @variant placeholder {
    @apply text-muted-foreground/50;
  }
  @variant hover {
    @apply not-focus-visible:border-muted-foreground not-focus:not-focus-within:not-disabled:bg-input/2.5 focus-visible:border-ring;
  }
  @variant active {
    @apply not-focus-visible:border-input focus-within:border-ring focus-visible:border-ring;
  }
  @variant focus-visible {
    @apply border-ring ring-1 ring-ring not-read-only:border-ring;
  }
  @variant focus-within {
    @apply border-ring ring-1 ring-ring not-read-only:border-ring hover:border-ring active:border-ring;
  }
  @variant invalid {
    @apply border-destructive ring-1 ring-destructive/25;
    @variant hover {
      @apply ring-0;
    }
  }

  @variant disabled {
    @apply cursor-not-allowed bg-input/50 text-muted-foreground/50 opacity-50;
  }
}

@utility grid-stack {
  @apply grid;
  place-items: center center;
  > * {
    grid-area: 1 / 1;
  }
}

@utility ui-popup {
  @apply rounded-xl bg-popover/80 text-popover-foreground shadow-popover backdrop-blur-2xl;
}

@utility shadow-button {
  box-shadow:
    0px 0px 0px 0.5px rgb(0 0 0 / 0.4),
    0px 1px 1px -1px rgb(0 0 0 / 0.12),
    0px 2px 2px -1px rgb(0 0 0 / 0.12),
    inset 0px 0.5px 0px rgb(255 255 255 / 0.06),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.16),
    inset 0px -6px 12px -4px rgb(0 0 0 / 0.16);
  @variant dark {
    box-shadow:
      0px 1px 1px -1px rgb(0 0 0 / 0.08),
      0px 2px 2px -1px rgb(0 0 0 / 0.08),
      0px 0px 0px 1px rgb(0 0 0 / 0.06),
      inset 0px 1px 0px #fff,
      inset 0px 1px 2px 1px #fff,
      inset 0px 1px 2px rgb(0 0 0 / 0.06);
  }
}

.squircle {
  @supports (corner-shape: squircle) {
    corner-shape: superellipse(1.4);
    --ellipse-factor: 1.4;
  }
}

@utility rounded-inset-* {
  border-radius: calc(var(--radius) - calc(var(--spacing) * [value]));
}

@layer utilities {
  .via-smooth {
    --tw-gradient-via-stops:
      var(--tw-gradient-position), var(--tw-gradient-from, transparent) var(--tw-gradient-from-position, 0%),
      color-mix(in oklab, var(--tw-gradient-to) 1.3%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.081 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 4.9%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.155 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 10.4%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.225 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 17.5%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.29 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 25.9%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.353 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 35.2%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.412 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 45%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.471 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 55%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.529 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 64.8%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.588 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 74.1%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.647 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 82.5%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.71 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 89.6%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.775 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 95.1%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.845 +
            var(--tw-gradient-from-position)
        ),
      color-mix(in oklab, var(--tw-gradient-to) 98.7%, var(--tw-gradient-from, transparent))
        calc(
          calc(var(--tw-gradient-to-position, 100%) - var(--tw-gradient-from-position, 0%)) * 0.919 +
            var(--tw-gradient-from-position)
        ),
      var(--tw-gradient-to) var(--tw-gradient-to-position, 100%);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }
}

@utility line-t {
  @apply relative before:absolute before:top-0 before:left-[-100vw] before:h-px before:w-[200vw] before:bg-border;
}

@utility line-b {
  @apply relative after:absolute after:bottom-0 after:left-[-100vw] after:h-px after:w-[200vw] after:bg-border;
}

@utility line-y {
  @apply relative;
  @apply before:absolute before:top-0 before:left-[-100vw] before:h-px before:w-[200vw] before:bg-border;
  @apply after:absolute after:bottom-0 after:left-[-100vw] after:h-px after:w-[200vw] after:bg-border;
}

@utility line-t/half {
  @apply relative before:absolute before:top-0 before:right-0 before:h-px before:w-screen before:bg-border;
}

@utility line-b/half {
  @apply relative after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen after:bg-border;
}

@utility line-y/half {
  @apply relative;
  @apply before:absolute before:top-0 before:right-0 before:h-px before:w-screen before:bg-border;
  @apply after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen after:bg-border;
}

@utility after-dots {
  height: 1em;
  flex: 1;
  line-height: 1;
  overflow: hidden;
  word-spacing: 1ch;
  &:after {
    color: var(--border);
    content: "········································································································································";
  }
}

@utility bg-glass {
  @apply relative rounded-full border-0! bg-[rgba(248,240,248,0.3)] shadow-[1.25px_0px_0px_-0.75px_rgba(0,0,0,0.33),-1.25px_0px_0px_-0.75px_rgba(0,0,0,0.33),0px_0px_0px_0.5px_--alpha(var(--foreground)/14%),0px_8px_6px_-4px_color-mix(in_srgb,var(--muted-foreground)_10%,transparent),0px_9px_6px_-2px_rgba(0,0,0,0.1),inset_0px_-1px_0px_-0.5px_rgba(255,255,255,0.24),inset_0px_1px_0px_-0.5px_rgba(255,255,255,0.4),inset_0px_1px_1px_rgba(255,255,255,.33),inset_0px_-1px_2px_rgba(255,255,255,0.4),inset_0px_6px_7px_4px_rgba(0,0,0,0.04)] [backdrop-filter:blur(1.5px)_saturate(1.5)_brightness(1.1)] before:absolute before:inset-0.5 before:rounded-[inherit] before:border-t before:border-t-black/50 before:mix-blend-hard-light before:blur-[2px] after:pointer-events-none after:absolute after:inset-x-px after:inset-y-1 after:-z-1 after:translate-y-1/2 after:scale-x-90 after:rounded-[inherit] after:rounded-t-none after:bg-linear-to-b after:from-popover/0 after:to-white/30 after:mix-blend-hard-light after:blur-sm dark:bg-popover/60 dark:ring-[0.5px] dark:ring-background;
}
